fastapi
tiktoken
tenacity
python-multipart
numpy
uvicorn
opencv-python
opencv-contrib-python
pika
aio-pika[fast]
aiohttp[speedups]
requests
pyyaml
pillow
openai
fitz
frontend
huggingface_hub
ultralytics
transformers
ftfy
onnxruntime
shapely
pyclipper
omegaconf
pypdfium2
fast_langdetect
pdftext
pypdf
reportlab
imagehash
wget
boto3
loguru
pdf2image
PyPDF2
doclayout_yolo
json_repair
PyMuPDF
pynvml
numba
elasticsearch